@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

input {
    outline: none;
    background: transparent;
}

.dashboard-max-size {
    height: calc(100vh - 7.5rem - 2px)
}